name: Publish simulator archive

on:
  push:
    tags:
      - '**'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # work around actions/checkout stripping annotations https://github.com/actions/checkout/issues/290
    - name: Fetch tags
      run: git fetch --tags --force

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Build archive
      id: build_archive
      run: |
        mkdir archive
        NAME="competition-simulator-$(git describe --always --tags).zip"
        ./script/create-archive --output archive/$NAME
        echo "##[set-output name=archive;]$NAME"

    - name: Get tag annotation
      uses: ericcornelissen/git-tag-annotation-action@v1
      id: tag_data

    - name: Do release with binaries
      uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        allowUpdates: true
        body: ${{ steps.tag_data.outputs.git-tag-annotation }}
        artifact: archive/${{ steps.build_archive.outputs.archive }}
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
