name: Simulator tests

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  skip_duplicates:
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

  run-checks:
    needs: skip_duplicates
    strategy:
      fail-fast: false
      # Changing the supported versions? Also update the libraries tasks below.
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        test-os: [ubuntu-latest]
        include:
          - python-version: '3.8'
            test-os: windows-latest
          - python-version: '3.10'
            test-os: windows-latest

    runs-on: ${{ matrix.test-os }}
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: '**/requirements.txt'

      - name: Install Dependencies
        run: |
          pip install -r script/linting/requirements.txt -r script/typing/requirements.txt

      - name: Define scripts to test
        id: define_scripts
        run: |
          SCRIPTS=$(find script -type f | grep -vE "/(linting/|testing/|typing/|check$)" | tr "\n" " ")
          echo "##[set-output name=SCRIPTS;]$SCRIPTS"

      - name: Lint with flake8
        env:
          SCRIPTS: ${{ steps.define_scripts.outputs.SCRIPTS }}
        run: |
          # Ignore TODOs on CI, for now, even though we do want them
          # highlighted in development.
          ./script/linting/lint $SCRIPTS --extend-ignore=T000

      - name: Typecheck with Mypy
        env:
          SCRIPTS: ${{ steps.define_scripts.outputs.SCRIPTS }}
        if: ${{ always() }}
        run: |
          ./script/typing/check $SCRIPTS

      - name: Test with unittest
        if: ${{ always() }}
        run: |
          ./script/testing/test

      - name: Lint proto files
        if: ${{ always() }}
        run: |
          ./script/proto-lint worlds/Arena.wbt protos/**/*.proto

  validate-libraries:
    needs: skip_duplicates
    strategy:
      fail-fast: false
      # Changing the supported versions? Also update the checks tasks above.
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        test-os: [ubuntu-latest]
        include:
          - python-version: '3.8'
            test-os: windows-latest
          - python-version: '3.10'
            test-os: windows-latest

    runs-on: ${{ matrix.test-os }}
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: libraries.txt

      - name: Install Libraries
        run: |
          pip install -r libraries.txt
